<h3>Are you sure you want to delete this harvest?</h3>

<h2>Sources </h2>
<ul>
  <% for source in @harvest.sources %>
    <li><%= source.name %></li>
  <% end %>
</ul>

<form action="/harvests/<%= @harvest.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">

  <button type="submit" id="submit">Delete</button>

  <a href="/harvests/<%= @harvest.id %>"><button type="button">Cancel</button></a>

</form>
