<h3>Are you sure you want to delete this seed?</h3>

<h2>Targets</h2>
<ul>
  <% for target in @seed.targets %>
    <li><%= target.name %></li>
  <% end %>
</ul>

<form action="/seeds/<%= @seed.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">

  <button type="submit" id="submit">Delete</button>

  <a href="/seeds/<%= @seed.id %>"><button type="button">Cancel</button></a>

</form>
