<h1>New Seed</h1>

<form action="/seeds" method="POST">

  <% for target in @user.targets %>
    <label for="target-<%= target.id %>"><h2><%= target.name %></h2></label>
    <input type="checkbox" name="targets[]" id="target-<%= target.id %>" value="<%= target.id %>">
  <% end %>

  <a href="/targets/new"><button type="button" id="new_target">New Target</button></a>

  <button type="submit" id="submit">Submit</button>

</form>
