<h1 id="main-heading">Log In</h1>

<form action="login" method="post">

  <div class="form-labels">
    <label for="username_or_email">Username or Email</label>

    <br><br>

    <label for="password">Password</label>
  </div>

  <div class="form-fields">
    <input type="text" name="username_or_email" id="username_or_email" required>

    <br><br>

    <input type="password" name="password" id="password" required>
  </div>

  <div class="clearfix"></div>

  <div class="button">
    <button type="submit" id="login">Log In</button>
  </div>

  <caption>Need an account? <a href="/signup">Sign Up</a> today!</caption>

</form>
