<h1>Log In</h1>

<form action="login" method="post">

  <label for="username_or_email">Username or Email: </label>
  <input type="text" name="username_or_email" id="username_or_email">

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">

  <button type="submit" id="login">Log In</button>

</form>
