<form action="/logout" method="POST">

  <label for="logout">Log Out <%= @username %>?</label>

  <div class="button">
    <button type="submit" id="logout">Log Out</button>
  </div>

  <p><a href="/index">Cancel</a><p>

</form>
