<h1 class="main-heading">Welcome to the Seed, Time and Harvest Database!</h1>

<h2 class="subheading">Please sign up or log in below</h2>

<div id="welcome-links">
  <div id="signup">
    <a href="/signup">Sign Up</a>
  </div>

  <div id="login">
    <a href="/login">Log In</a>
  </div>
</div>
