<h1 id="main-heading">Desires</h1>

<% for desire in @user.desires %>
  <a href="/desires/<%= desire.id %>">
    <h2 class="subheading"><%= desire.name %></h2>
    <p class="caption"><%= desire.description %></p>
  </a>
<% end %>

<div class="button">
  <a href="/desires/new"><button type="button">New Desire</button></a>
</div>