<h1 id="main-heading">New Desire</h1>

<form action="/desires" method="POST">

  <div class="form-labels">
    <label for="name"><h3>Name</h3></label>

    <br>

    <label for="description"><h3>Description</h3></label>
  </div>

  <div class="form-fields">
    <input type="text" name="name" id="name" required>

    <br><br>

    <textarea name="description" id="description"></textarea>
  </div>

  <div class="button">
    <button type="submit" id="submit">Submit</button>
  </div>

</form>
