<h1>New Desire</h1>

<form action="/desires/new" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>

  <label for="description">Description</label>
  <textarea name="description" id="description"></textarea>

  <button type="submit" id="submit">Submit</button>

</form>
