<h1>Sources</h1>
<% for source in @user.sources %>
  <h2><%= source.name %></h2>
  <h3>Time Received: <%= source.time_received %></h3>
  <h3>Money Received: $<%= "%.2f" % source.money_received %></h3>
<% end %>
