* {
  list-style: none;
  width: fit-content;
  margin: auto;
  padding: 0;
}

body {
  background-color: #669900;
  color: #382111;
}

div.warning {
  background-color: #fc7f03;
}

div.error {
  background-color: red;
}

div.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1#main-heading {
  margin: 15px auto;
}

h2.subheading {
  margin: 25px auto;
}

div#signup a:link {
  color: #06401a;
}

div#login a:link {
  color: white;
}

div#signup a:visited, div#login a:visited {
  color: #0c6bb3;
}

div#signup a:hover, div#login a:hover {
  color: #74a102
}

footer.branding {
  margin-top: 20px;
}