<h1>New Item to Sow</h1>

<form action="/to_sow_items" method="POST">

  <label for="item"><h2>Item</h2></label>
  <input type="text" name="item" id="item" required>

  <h3>Sow to:</h3>
  <% for target in @targets %>
    <label for="target"><%= target.name %></label>
    <input type="radio" name="target" id="target" value="<%= target.id %>" required>
  <% end %>
  <a href="/targets/new"><button type="button">New Target</button></a>

  <button type="submit" id="submit">Submit</button>

</form>
