<h1>Bible References</h1>

<table>
  <tr>
    <th>Reference</th>
    <th>Passage</th>
  </tr>
  <% for bible_reference in @user.bible_references %>
    <tr>
      <td><%= bible_reference.reference %></td>
      <td><%= bible_reference.content %></td>
    </tr>
  <% end %>
</table>
