<h1 id="main-heading">Bible References</h1>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Passage</th>
    </tr>
  </thead>
  <tbody>
    <% for bible_reference in @user.bible_references %>
      <tr>
        <td><a href="/bible_references/<%= bible_reference.id %>"><%= bible_reference.reference %></a></td>
        <td><a href="/bible_references/<%= bible_reference.id %>"><%= bible_reference.content %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
